/* GameCanvas.css */
canvas {
    width: 1920px !important;
    height: 1080px !important;
    max-width: 1920px;
    max-height: 1080px;
    display: block;
}

.canvas-container {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
